{% extends 'base.html' %} 

{% block title %}
Django App About
{% endblock %}

{% block content %}
<h1>About This Application</h1>
<p>This application was built to create an index of characters from one of my favorite novels, Circe by Madeline Miller. This novel is a feminist retelling of Circe, Witch of Aeaea, daughter of Helios and the nymph Perse. Circe first appeared in literature in Homer's Odyssey. </p>

<div>
    <img src="https://images-na.ssl-images-amazon.com/images/I/51jX-ncTDML._SY291_BO1,204,203,200_QL40_FMwebp_.jpg" />
  </div>

{% endblock %}