{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CDN SCRIPT CSS CAN GO HERE-->
    <link rel="stylesheet" href="{% static 'styles/style.css'%}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/characters">Characters</a>
        <a href="{% url 'character_create' %}">Add A Character!</a>
        <a href="{% url 'characterpowers_create' %}">Add A Character's Powers!</a>
    </nav>
    {% block content %}

    {% endblock %}

  </body>
</html>
